:root {
  --primary-color: #f9f7fe;
  --secondary-color: #3f3f3f;
  --btn-color:#E9E7DC;
  --font-family-color: #3f3f3f;
  --font-hover-color:#6A6871;
  --default-font-family: 'Antic Didone', serif;
  --secondary-font-family: 'Red Hat Display', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-family-color);
  font-family: var(--default-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 48px;
}
p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

/*navbar*/
.page-wrapper  {
  background: var(--primary-color); 
  
 }
.page-wrapper .container-fluid{
  background: white;
  border-top: solid 1px #CACACA;
  border-bottom: solid 1px #CACACA;
  padding: 0 40px;
  position: fixed;
 
}
.page-wrapper .container-fluid nav {
  padding: 8px;
  
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-weight: 500;
  opacity: 0.8;
}
nav a {
  font-family: var(--default-font-family);
  text-decoration: none;
  color:var(--font-family-color);
  transition: all 100ms ease-in-out;
}

nav a:hover {
  text-decoration: underline;
  color: var(--font-hover-color);
}
.nav-title {
  font-family: var(--secondary-font-family);
   font-weight: 300;
   letter-spacing: 1px;
   font-size: 20px;
   font-style: normal;
   color:var(--font-family-color);
   opacity: 0.8;
   line-height: 2;
 }
 .nav-title:hover {
   color: var(--font-hover-color);
   text-decoration: none;
 }
/*navbar END*/

/*hero*/
.hero {
  text-align: center;
  padding: 100px 0px;
}
.hero h1 {
  color: var(--font-family-color);
  font-family: var(--default-font-family);
  opacity: 0.8;

}
.hero p {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2;
  opacity: 0.6;
  margin: 0;
  color: var(--font-family-color);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: var(--font-family-color);
}
/*hero END*/

/*project-description*/
.check-project .container-fluid {
  background: white;
  border-top: solid 1px #CACACA;
  border-bottom: solid 1px #CACACA;
  padding: 20px;
  
}
.check-project .container-fluid p {
  margin: 0;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  opacity: 0.8;
}
.project-description {
  padding: 20px 70px;
  
}
.project-decription-wrapper {
  background: var(--primary-color);
}
.project-decription-wrapper .container-fluid {
  color: var(--font-family-color);
  
}

.project-decription-wrapper img {
  width: 60%;
}
.project-decription-wrapper img:hover {
  opacity: 0.6;
} 

/*project-description END*/
/*footer*/
footer {
  background: var(--secondary-color);
  color:var(--btn-color);
 
}
.contact-me p {
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 18px;
}
.contact-me .col{
  padding-bottom: 20px;
}
.container-social-links p {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: 550;
}
footer .email-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: var(--default-font-family);
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer .email-link:hover {
  color: var(--font-hover-color);
}
footer .social-links a {
  margin: 0 5px;
  color: white;
  background: transparent;
  border-radius: 50%;
  padding: 10px 5px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--font-hover-color);

}
footer h4{
  font-family: var(--secondary-font-family);
  font-weight: 150;
  letter-spacing: 1px;
  font-size: 18px;
  font-style: normal;
  color:white;
  line-height: 2; 
  text-transform: uppercase;
  opacity: 0.8;
}
.headline p {
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
  font-size: 12px;
}
.headline a {
  text-decoration: none;
  color: white;
}
.headline a:hover {
  color: var(--font-hover-color);
}


/*footer END*/
/*about page*/
.content-container {
  padding: 100px 0px;
}
.my-link {
  font-weight: bold;
  color: var(--font-hover-color);
  text-decoration: none;
}
.content h1 {
  font-size: 48px;
  line-height: 70px;
  color: var(--font-family-color);
  opacity: 0.7;
}
.content h2 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  opacity: 0.8;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}
.content p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
  color: var(--font-family-color)
}

.content {
  margin: 30px;
}
.about-img {
  opacity: 0.8;
}
.my-link:hover {
  color: var(--secondary-color);
}
.about-img {
  max-width: 100%;
}
.about-img {
  max-height: 70%;
}

/*about page END*/


.btn-branding {
  background: var(--btn-color);
  border-radius: 2px;
  color:var(--font-family-color);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 27px;
  padding: 15px 25px;
}
.btn-branding:hover {
  color:#E9E7DC;
  background: #3f3f3f;
}
.logo {
  max-height: 40px;
}
/*work page*/
.work-page .img-fluid {
  width: 50%;
}
.work-page .img-fluid:hover {
  opacity:0.6;
}
.showmore {
  font-family: var(--default-font-family);
  color: var(--font-family-color);
  text-transform: uppercase;
  text-decoration: none;
}
.showmore:hover {
  color: var(--font-hover-color);
  text-decoration: underline;
}
 
.work-page .content-container {
  padding-top: 100px;
}
/*work page END*/
/*showmore page*/
.showmore-page .btn-show {
  color:var(--font-family-color);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 27px;
  text-decoration: none;
  margin-top: 10px;
}
.showmore-page .btn-show:hover {
  color: var(--font-hover-color);
}
.showmore-page .img-fluid {
  width: 70%;
}
.showmore-page .img-fluid:hover {
  opacity: 0.6;
}

/*showmore page END*/

/*contact page*/
.contact-page .content-container {
 margin-bottom: 0;
}

/*contact page END*/

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }

  .content-container {
    padding: 20px;
    text-align: center;
  }
  .content h1 {
    font-size: 36px;
  }
  
  .project-description {
    padding: 0;
    text-align: center;
  }
  
}
